<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>wyd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>71A04A3020800970005C5EEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71A04A4420800974005C5EEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71A04A4F20800974005C5EEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
